.grid {
    width: 50%
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.label {
    margin: auto 0;
    flex: 1;
}

.value {
    flex: 3
}


.result{
    flex: 2;
}

.description {
    flex: 2;
}

.code {
}
