.name {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
}

.nameLabel {
    flex: 1;
}

.nameInputContainer {
    flex: 4;
}

.nameTextInput {
    width: 100%
}

.container {
    align-items: stretch;
}

.status {
    margin: auto 20%;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text {
    flex: 1;
}

.text:first-child {
    text-align: left;
}

.text.nameLabel {
    color: #9592d1;
}
