.button {
    background: none !important;
    border: none;
    padding: 0 !important;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
    display: inline;
    text-align: left;
    box-shadow: none;
}
