.list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: stretch;
}

.list > .item:nth-child(4n) {
    page-break-after: always;
}

.actions {
    display: flex;
    justify-content: space-around;
    align-self: stretch;
    text-align: left;
}

.inputContainer {
    display: flex;
    justify-content: space-around;
    align-self: stretch;
    flex: 1;
}

.inputContainer > * {
    flex: 1;
}

.inputContainer .codeInput {
    width: 100%;
}
