.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: stretch;
    padding: 0 5%;
}

.item {
    width: 15%;
    margin-left: 10%;
}

.code {
}

.actions {
    display: flex;
    justify-content: space-around;
    align-self: stretch;
    text-align: left;
}

.description {
    flex: 2;
}
.result{
    flex: 2;
}
